<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  </head>

  <body>
  
    <p th:text="#{home.welcome}">Welcome to our grocery store!</p>
  	
  	<table>
    <thead>
      <tr>
        <th th:text="#{user.id}">Id</th>
        <th th:text="#{user.name}">Name</th>
        <th th:text="#{user.role}">Role</th>
      </tr>
    </thead>
    <tbody>
		<tr th:each="sb : ${users}">
        	<td th:text="${{sb.id}}">11</td>
        	<td th:text="${sb.name}">Pepe</td>
        	<td th:text="${sb.role}">User</td>
		</tr>
    </tbody>
  </table>
  	
  	
  </body>

</html>